
@font-face {font-family: Header;src: url(../css/Fonts/AmaticSC-Regular.ttf);}
@font-face {font-family: mid-title;src: url(../css/Fonts/eurof35.ttf);}



 #bg_container_landing { 
 position: relative;
   max-width: 99%;
  max-height: 95%;
}

#bg-image
{
  position:absolute;
  z-index:-99;
  margin: 1%;
  opacity: 0.6;
  max-width: 100%;
  max-height: 100%;
  border-style: solid;
  border-width: 3%;
  border-color: #F1C2C2;
  border-radius: 2%;
}

#overlay_text_landing {
  max-width: 100%;
  max-height: 99%;
  height: 80%;
  position: relative;
  text-align: center;
  border-radius: 88%;
}

#yashnabowen 
{
  background-color: #000;
  
  font-family: Header;
  font-size: 6em;
  color:#F1C2C2;

  border-radius: 25px;
  max-width: 33%;
  max-height:22%;
 
  text-align: center;

  margin-left: 35%;
  

}

#daughterlearnerhobbyist
{background-color: #000;
  color: #973448;
  text-align: center;
  vertical-align: middle;
  font-family: mid-title;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 25px;
  width: 35%;
  max-width: 30%;
  max-height: 15%;
  padding-bottom: 1%;
  padding-top: 1%;
  margin-left: 37%;
  opacity: 0.8;

}

#playbutton_landing
{
    height:100%;
    width:100%;
    vertical-align: top;
    margin-left:50%;
    margin-top: 0;
    position:relative;
}
  

#playbuttonimage_landing
{ 
  top:0%;
  height:12%;
  width:6%;
  position:relative;  
}

#playbuttonimage_landing:hover
{
  opacity: 0.4;

}
#projectspage
  {
    position: relative;
    height: 80%;
    width:99%;
   }


#padding_viralsweep
  {
    margin-top:5%;
    margin-bottom:5%;
    margin-left:15%;
    margin-right:10%;
    width:100%;
    position:relative;
    z-index:100;
  }
  

#banners_landing
{
height:40%;}

#boxthis:hover{
/* make this whatever you want */
}
  .button
  {
    z-index:100;
    height:4%;
      width:4%;
  }
  h1{
  color:#959595;
  font-size:56pt;
  }

  h2{
    color:#909090;
    font-size:24pt;}
  
  h4{color:#909090;
  font-size:12pt;}
  



  #my-photography-list, #my-writings-list, #my-webprojects-list, #my-visualarts-list
  {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 5%;
    background-color: #DDDDDD;
  overflow: auto;
  width: 100%;
}
  

#picture-scroll-text
{
  position: absolute;
  color:#F1C2C2;
  font-family: Header;
  font-weight: bolder;
  font-size: 3em;
}

#navtabs, #tab-text
{
  font-family: mid-title;
  font-size: 1.7em;
  font-weight: lighter;
  color: #973448;
}
.nav-tabss > li > a:hover{
  background-color: #F1C2C2 !important;
  color:#fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover{
    background-color: #fff;
}

#contactmepage
{
  z-index: 200;
  width: 100%;
  position: relative;
  height: 500px;
}


#writing-title
{
  font-family: Header;
  font-size: 2.2em;
  color:#F1C2C2;
  text-align: center;
  background-color: #959595;
}

#writing-text
{
  font-family: mid-title;
  font-size: 1.8em;
  font-weight: lighter;
  color: #973448;
  background-color: #EEE;
}

.modal-content-arts
{
  background-color: transparent;
}

.thumb
{
  float: left;
  position: relative;
}

#contact-page
{
  position: relative;
  width: 100%;
  padding-top: 15%;
  text-align: center;
  background-color: #EEE;
}
#contact-text
{
  float: right;
  font-family: Header;
  font-weight: bold;
  text-decoration: none;
  font-size: 4em;
  width: 100%;
  height: 100px;
  position: relative;
  color: #F1C2C2;
  text-align: center;
}

#resume-text
{
  float: left;
  margin-top: 0;
  color: #973448;
  text-decoration: none;
  width: 100%;
  font-family: mid-title;
  font-weight: lighter;
  font-size: 2.5em;
  text-align: center;
}
