 #header_block{

	width: 100%;
	height: 70px;
	padding:2px;
	opacity: 1.0;
	background-color: #000;
	position:fixed;
	z-index: 150;
}

#vagmocircle{
	background-color:#000;
	width:100%;
	opacity: 0.8;
 	margin: auto 0 auto 0;
 	height: 22%;
 	position:fixed;
	z-index: 200;
	
	/*vertical-align: middle;*/
	/*text-align: center;*/



}

#home_title_mobile, #home_title_desktop{
	
	/*font-size: 2.2em;*/
	font-weight: bold;
	margin:2pt 2pt 2pt 2pt;
	width: 100%;
	text-transform: capitalize;
	color:#fff;
	position:fixed;
	z-index: 200;
}


.about_content{
	width: 100%;
	padding: 1%;

}
.gallery_holder{
	padding: 10%;
}
.gallery_main_images{
	overflow: hidden;
	opacity: 1.0;
}
h2 span { 
   color: white;
   text-align: center;
   opacity: 1.0;
   width: 100%;
   height: inherit; 
   position: absolute;
   padding: 10%;
}
.gallery_main_images:hover{
	opacity: 0.5;
}
.gallery_holder_single{
	

}
